<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app   xmlns="http://java.sun.com/xml/ns/javaee"
           version="2.5">


  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/logIn.jsp</form-login-page>
      <form-error-page>/logIn-error.jsp</form-error-page>
    </form-login-config>
  </login-config>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ScheduUser</web-resource-name>
      <url-pattern>/welcomeUser</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>registered-user</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ScheduAdmin</web-resource-name>
      <url-pattern>/welcomeAdmin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>


  <security-role>
    <role-name>registered-user</role-name>
  </security-role>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>

  <display-name>Archetype Created Web Application</display-name>
</web-app>
